@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$main_font: 'Poppins', sans-serif;
$h4_font: 'Cormorant Garamond', sans-serif;

body {
  background: #d9d2d2;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  height: 24px;
  background: #fff;
  >a {
    color: #000;
  }
  >p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.8px;
  }
  .our_stores {
    position: absolute;
    top: 0;
    right: 24px;
    height: 100%;
    >p {
      font-family: $main_font;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 24px;
      img {
        margin-top: 5px;
        margin-right: 5px;
        float: left;
      }
    }
  }
}

.main {
  height: 660px;
  background: url("../img/9193579.svg") no-repeat;
  h1{
    text-align: center;
    color: #fff;
    margin-top: 155px;
    font-family: $main_font;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
  }
}

.upper_part {
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.216) 14.31%, rgba(27, 27, 27, 0.11260224) 58.6%, rgba(0, 0, 0, 0.000024) 100%);
  mix-blend-mode: normal;
  height: 132px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .logo {
    padding-top: 16px;
    padding-left: 24px;
    h3 {
      opacity: 1;
      font-family: $main_font;
      font-style: normal;
      font-weight: bold;
      font-size: 38px;
      line-height: 57px;
      letter-spacing: 0.95px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .search_form {
    padding-top: 24px;
    .search_input {
      position: relative;
      margin: 0 auto 24px;
      height: 48px;
      width: 584px;
      background: rgb(247,247,247, 0.24);
      mix-blend-mode: normal;
      border-radius: 3px;
      #search_field {
        background: none;
        border: none;
        border-radius: 3px;
        height: 100%;
        width: 95%;
        padding: 16px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.8px;
        &::placeholder {
          color: #fff;
        }
        &:focus {
          outline: none;
        }
      }
      #search_button {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 16px;
        border: none;
        background: none;
        svg {
          fill: #fff;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .navigation {
    li {
      font-family: $main_font;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 1px;
      display: inline;
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .account {
    padding-top: 29px;
    p {
      color: #fff;
      font-family: $main_font;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 1px;
      a {
        color: #fff;
        text-decoration: none;
      }
      svg {
        margin-left: 16px;
        margin-right: 24px;
        height: 16px;
        width: 16px;
        float: right;
        fill: #fff;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}


.units_number {
  display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  padding-top: 3px;
  margin: -2px 24px 0 -18px;
  float: right;
  border-radius: 50%;
  background: #F2DA91;
  color: #000;
}

.upper_part_logged {
  background: #fff;
  height: 132px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .logo {
    padding-top: 16px;
    padding-left: 24px;
    h3 {
      font-family: $main_font;
      font-style: normal;
      font-weight: bold;
      font-size: 38px;
      line-height: 57px;
      letter-spacing: 0.95px;
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
  .search_form {
    padding-top: 24px;
    .search_input {
      position: relative;
      margin: 0 auto 24px;
      height: 48px;
      width: 584px;
      background: #F7F7F7;
      border: 1px solid #F2F2F2;
      border-radius: 3px;
      #search_field {
        background: none;
        border: none;
        height: 100%;
        width: 95%;
        padding: 16px;
        font-family: $main_font;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.8px;
        &::placeholder {
          color: #000;
        }
        &:focus {
          outline: none;
        }
      }
      #search_button {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 16px;
        border: none;
        background: none;
        svg {
          fill: #000;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .navigation {
    li {
      font-family: $main_font;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 1px;
      display: inline;
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
  .account {
    padding-top: 29px;
    p {
      color: #000;
      font-family: $main_font;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 1px;
      a {
        color: #fff;
        text-decoration: none;
      }
      svg {
        margin-left: 16px;
        margin-right: 24px;
        height: 16px;
        width: 16px;
        float: right;
        fill: #000;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.news_register {
  height: 146px;
  background: #fff;
}

.register-form {
  width: 440px;
  margin: 32px auto 0;
  p:first-child {
    font-family: $main_font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.872727px;
    margin-bottom: 14px;
  }
}

#email {
  width: 334px;
  height: 32px;
  margin-top: 1px;
  padding: 8px 11px;
  border: 1px solid #E1E0E1;
  border-radius: 3px;
  font-family: $main_font;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
  &:focus {
    outline: none;
  }
}

#submit_email {
  border-radius: 3px;
  border: none;
  background: #000;
  color: #fff;
  height: 32px;
  width: 94px;
  font-family: $main_font;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  &:hover {
    cursor: pointer;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 150px;
  background: #F7F7F7;
  padding-top: 26px;
  .footer_element {
    width: 200px;
    h4 {
      font-family: $h4_font;
      line-height: 19px;
      font-style: normal;
      font-weight: bolder;
      letter-spacing: 1.16364px;
    }
    ul {
      margin-top: 17px;
      list-style-type: none;
      li {
        padding-bottom: 6px;
        font-family: $main_font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;
        a {
          text-decoration: none;
          color: #000;
          transition: color 0.5s;
          &:hover {
             color: #0770cf;
          }
        }
      }
    }
    &:last-child {
      img {
        float: left;
        margin-top: 17px;
        margin-right: 16px;
      }
      .twitter_icon, .snapchat_icon {
        margin-top: 18px;
      }
      .youtube_icon {
        margin-top: 19px;
      }
    }
  }
}

.copyright {
  background: #F7F7F7;
  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    padding-bottom: 14px;
  }
}